Demo-SOAP/src/conf/xml-resources/web-service-references/Library/wsdl/localhost_8080/Demo-SOAP/Library.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.wsd.uts.edu.au/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.wsd.uts.edu.au/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="book" type="tns:book"/>

<xs:element name="books" type="tns:books"/>

<xs:element name="displayStudents" type="tns:displayStudents"/>

<xs:element name="displayStudentsResponse" type="tns:displayStudentsResponse"/>

<xs:element name="getFilePath" type="tns:getFilePath"/>

<xs:element name="getFilePathResponse" type="tns:getFilePathResponse"/>

<xs:complexType name="getFilePath">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFilePathResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="displayStudents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="displayStudentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="books">
<xs:sequence>
<xs:element name="book" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="genre" type="xs:string" minOccurs="0"/>
<xs:element name="number" type="xs:int"/>
<xs:element name="rating" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>