OMS_Assessment/src/conf/xml-resources/web-service-references/omsApp/wsdl/localhost_8080/OMS_Assessment/omsApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="omsApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/OMS_Assessment/omsApp?xsd=1"/>
</xsd:schema>
</types>
<message name="findMovieByTitle">
<part name="parameters" element="tns:findMovieByTitle"/>
</message>
<message name="findMovieByTitleResponse">
<part name="parameters" element="tns:findMovieByTitleResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="placeOrder">
<part name="parameters" element="tns:placeOrder"/>
</message>
<message name="placeOrderResponse">
<part name="parameters" element="tns:placeOrderResponse"/>
</message>
<message name="updateCopies">
<part name="parameters" element="tns:updateCopies"/>
</message>
<message name="updateCopiesResponse">
<part name="parameters" element="tns:updateCopiesResponse"/>
</message>
<message name="fetchHistory">
<part name="parameters" element="tns:fetchHistory"/>
</message>
<message name="fetchHistoryResponse">
<part name="parameters" element="tns:fetchHistoryResponse"/>
</message>
<message name="fetchHistoryByOrderID">
<part name="parameters" element="tns:fetchHistoryByOrderID"/>
</message>
<message name="fetchHistoryByOrderIDResponse">
<part name="parameters" element="tns:fetchHistoryByOrderIDResponse"/>
</message>
<message name="fetchHistoryByEmail">
<part name="parameters" element="tns:fetchHistoryByEmail"/>
</message>
<message name="fetchHistoryByEmailResponse">
<part name="parameters" element="tns:fetchHistoryByEmailResponse"/>
</message>
<message name="fetchHistoryByStatus">
<part name="parameters" element="tns:fetchHistoryByStatus"/>
</message>
<message name="fetchHistoryByStatusResponse">
<part name="parameters" element="tns:fetchHistoryByStatusResponse"/>
</message>
<message name="fetchHistoryByTitle">
<part name="parameters" element="tns:fetchHistoryByTitle"/>
</message>
<message name="fetchHistoryByTitleResponse">
<part name="parameters" element="tns:fetchHistoryByTitleResponse"/>
</message>
<message name="CancelOrder">
<part name="parameters" element="tns:CancelOrder"/>
</message>
<message name="CancelOrderResponse">
<part name="parameters" element="tns:CancelOrderResponse"/>
</message>
<message name="CancelAccount">
<part name="parameters" element="tns:CancelAccount"/>
</message>
<message name="CancelAccountResponse">
<part name="parameters" element="tns:CancelAccountResponse"/>
</message>
<portType name="OMSSOAP">
<operation name="findMovieByTitle">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/findMovieByTitleRequest" message="tns:findMovieByTitle"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/findMovieByTitleResponse" message="tns:findMovieByTitleResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/findMovieByTitle/Fault/Exception"/>
</operation>
<operation name="logout">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/logoutResponse" message="tns:logoutResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/logout/Fault/Exception"/>
</operation>
<operation name="login">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/loginRequest" message="tns:login"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/loginResponse" message="tns:loginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/login/Fault/Exception"/>
</operation>
<operation name="placeOrder">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/placeOrderRequest" message="tns:placeOrder"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/placeOrderResponse" message="tns:placeOrderResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/placeOrder/Fault/Exception"/>
</operation>
<operation name="updateCopies">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/updateCopiesRequest" message="tns:updateCopies"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/updateCopiesResponse" message="tns:updateCopiesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/updateCopies/Fault/Exception"/>
</operation>
<operation name="fetchHistory">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryRequest" message="tns:fetchHistory"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryResponse" message="tns:fetchHistoryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistory/Fault/Exception"/>
</operation>
<operation name="fetchHistoryByOrderID">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByOrderIDRequest" message="tns:fetchHistoryByOrderID"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByOrderIDResponse" message="tns:fetchHistoryByOrderIDResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByOrderID/Fault/Exception"/>
</operation>
<operation name="fetchHistoryByEmail">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByEmailRequest" message="tns:fetchHistoryByEmail"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByEmailResponse" message="tns:fetchHistoryByEmailResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByEmail/Fault/Exception"/>
</operation>
<operation name="fetchHistoryByStatus">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByStatusRequest" message="tns:fetchHistoryByStatus"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByStatusResponse" message="tns:fetchHistoryByStatusResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByStatus/Fault/Exception"/>
</operation>
<operation name="fetchHistoryByTitle">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByTitleRequest" message="tns:fetchHistoryByTitle"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByTitleResponse" message="tns:fetchHistoryByTitleResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/fetchHistoryByTitle/Fault/Exception"/>
</operation>
<operation name="CancelOrder">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/CancelOrderRequest" message="tns:CancelOrder"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/CancelOrderResponse" message="tns:CancelOrderResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/CancelOrder/Fault/Exception"/>
</operation>
<operation name="CancelAccount">
<input wsam:Action="http://soap.wsd.uts/OMSSOAP/CancelAccountRequest" message="tns:CancelAccount"/>
<output wsam:Action="http://soap.wsd.uts/OMSSOAP/CancelAccountResponse" message="tns:CancelAccountResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/OMSSOAP/CancelAccount/Fault/Exception"/>
</operation>
</portType>
<binding name="OMSSOAPPortBinding" type="tns:OMSSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findMovieByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="placeOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateCopies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchHistoryByOrderID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchHistoryByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchHistoryByStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchHistoryByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="CancelOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="CancelAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="omsApp">
<port name="OMSSOAPPort" binding="tns:OMSSOAPPortBinding">
<soap:address location="http://localhost:8080/OMS_Assessment/omsApp"/>
</port>
</service>
</definitions>